<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Notifications</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/profile">Мой профиль</a></li>
        <li sec:authorize="anonymous"><a href="/login">Войти</a></li>
        <li sec:authorize="authenticated"><a href="/logout">Выйти</a></li>
        <li sec:authorize="anonymous"><a sec:authorize="anonymous" href="/registration">Регистрация</a></li>
    </ul>
</nav>
<div class="logo">
    <p><a href="/"><img src="images/logo.png" title="Car Sharing"></a></p>
</div>
<h1>Оповещения</h1>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Дата</th>
            <th>Сообщение</th>
        </tr>
        <tr th:each ="object : ${list}">
            <td th:utext="${object.date}">...</td>
            <td th:utext="${object.text}">...</td>
        </tr>
    </table>
</div>
</body>
</html>