<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>New user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="/js/registration.js">
    </script>
    <script type="text/javascript" src="/js/checkNameField.js">
    </script>
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/profile">Мой профиль</a></li>
        <li sec:authorize="anonymous"><a href="/login">Войти</a></li>
        <li sec:authorize="authenticated"><a href="/logout">Выйти</a></li>
        <li sec:authorize="anonymous"><a sec:authorize="anonymous" href="/registration">Регистрация</a></li>
    </ul>
</nav>
<div class="logo">
    <p><a href="/"><img src="/images/logo.png" title="Car Sharing"></a></p>
</div>
<div class="container">
    <h2>Новый пользователь</h2>
    <div>
        <form class="form-horizontal" th:object="${user}" method="post" action="/newUser"> <!-- th:action="@{/newUser}" onsubmit="return validateRegForm(this.form)" method="post"-->
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <table>
                <tr>
                    <td>Имя:</td>
                    <td>
                        <input type="text" id="name" onblur="trim(this)" th:field="*{name}" />
                        <span class="help" id="name_help"></span>
                    </td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td>
                        <input type="text" id="phone" onblur="validatePhone()" th:field="*{phone}" />
                        <span class="help" id="phone_help"></span>
                    </td>
                    <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</td>
                </tr>
                <tr>
                    <td>Почта:</td>
                    <td><input type="email" th:field="*{email}" onblur="trim(this)"/></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
                </tr>
                <tr>
                    <td>Пароль:</td>
                    <td>
                        <input type="password" id="password" onblur="validatePassword()" th:field="*{password}" />
                        <span class="help" id="password_help"></span>
                    </td>

                </tr>

                <tr>
                    <td>Повторите пароль:</td>
                    <td>
                        <input type="password" id="password2" onblur="confirmPassword()"/>
                        <span class="help" id="password_help2"></span>
                    </td>
                </tr>
                <tr>
                    <td><button type="submit">Подтвердить</button></td>
                </tr>
            </table>

        </form>
    </div>
</div>
</body>
</html>