<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>New order</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="/js/rentCar.js">
    </script>
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="/profile">Мой профиль</a></li>
            <li sec:authorize="anonymous"><a href="/login">Войти</a></li>
            <li sec:authorize="authenticated"><a href="/logout">Выйти</a></li>
            <li sec:authorize="anonymous"><a sec:authorize="anonymous" href="/registration">Регистрация</a></li>
        </ul>
    </nav>
    <div class="logo">
        <p><a href="/"><img src="/images/logo.png" title="Car Sharing"></a></p>
    </div>
<div class="container">
    <div>
        <form class="form-horizontal" th:object="${object}" th:action="@{/orders/add}" onsubmit="return validateOrderForm(this.form)" method="post">
            <input type="hidden" class="form-control" th:field="*{id}"/>
            <input type="hidden" class="form-control" th:attr="name='car'" th:value="${car.id}"/>
            <h2>Арендуемый автомобиль:</h2>
            <table>
                <tr>
                    <td>Идентификатор:</td>
                    <td th:utext="${car.id}">...</td>
                </tr>
                <tr>
                    <td>Производитель:</td>
                    <td th:utext="${car.firm.name}">...</td>
                </tr>
                <tr>
                    <td>Тип автомобиля:</td>
                    <td th:utext="${car.type.name}">...</td>
                </tr>
                <tr>
                    <td>Коробка передач:</td>
                    <td th:utext="${car.transmission.name}">...</td>
                </tr>
                <tr>
                    <td>Арендная плата/день:</td>
                    <td id="costPerDay" th:text="${car.costPerDay}">
                    </td>
                </tr>
                <tr>
                    <td>Начало пользования:</td>
                    <td >
                        <input type="date" id="date" name="date" th:field="*{date}" onblur="validateDate()"/>
                        <span class="help" id="date_help"></span>

                    </td>
                </tr>
                <tr>
                    <td >Количество дней:</td>
                    <td >
                        <input type="number" id="days" min="1" max="30" name="days" step="1" th:field="*{days}"  onblur="Result()"/>
                    </td>
                </tr>
                <tr>
                    <td>Итоговая стоимость:</td>
                    <td id="result"></td>
                    <!--input id="result" name = "sm"-->
                </tr>
                <tr>
                    <td th:text="${error}">Error</td>
                </tr>
                <tr>
                    <td><button type="submit">Подтвердить</button></td>
                </tr>
            </table>

        </form>
    </div>
</div>
</body>
</html>