body{
    background-image: url('/static/images/backgroundEnter.jpg');
    font-family:sans-serif;
    background-size: cover;
}

.center{
    display: flex;
    justify-content: center;
}

.textbox{
    border: 1px solid #848484;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    outline:0;
    height:30px;
    width: 275px;
}

.blubtn1{
    background: #eee;
    color: #088;
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 10px;
    transition: all 0.3s;
}

.blubtn1:hover{
    box-shadow: 0px -5px 0 #088 inset;
}